{% extends 'base.html' %}

{% block title %}
	{{ selected_classification }}
{% endblock %}


{% block body %}
{% if error_message != '' %}
	<h2 >{{ error_message }}</h2>
{% else %}
<div class="container" style="max-width: 90%;">
	<div class='row g-2'>
	    <div class="container" style=" background-color: #D26900;">
	      	<h2 class="text-center d-flex justify-content-center align-items-center bg-transparent" style="margin-top: 10px;">
	      		{{ selected_classification }}
	  		</h2>
	  	</div>
	  	<div class="col-sm-8">
		    {% include 'include_block/post-list.html' with page_obj=page_obj %}
		</div>
		<div class="col-sm-4">
		    {% include 'include_block/select_list_block.html' with classification=classification %}
		</div>
			
		
	</div>
</div>
<div class="row">
	{% include 'include_block/page-select.html' with selected_classification=selected_classification %}
</div>
{% endif %}
{% endblock %}