{% extends "base.html" %}
{% block title %}
{{ post.title }}
{% endblock %}

{% block body %}
<div class="container border border-primary rounded p-3" style="background-color: lightgray;">
    <div class="row align-items-center">
		<div class="col">
			<h1>Title:{{ post.title }}</h1>
		</div>
		<div class="col align-self-end">
			<h2>Poster:{{ post.poster }}</h2>
		</div>
	</div>
	<div class="row">
	    <div class="col-md-6">
	        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-3">
	    </div>
	    
	    <div class="col-md-6 align-self-start border-primary rounded p-3" style="background-color: White;">
	        <p>{{ post.context }}</p>
	    </div>
	</div>

	<div class="row">
		<div class="col">
	        <p>觀看數:{{ viewer_count }} 分類:{{ post.get_classification_display }}</p>
			<!-- get_FOO_display 用在讓使用了choice的字段回傳時可出現人類可判讀的字詞-->
	   	</div>

		<div class="col">
			<span>post time:
				{{ post.post_time|date:"Y" }}-{{ post.post_time|date:"m" }}-{{ post.post_time|date:"d" }},
				{{ post.post_time|date:"h" }}:{{ post.post_time|date:"m" }}:{{ post.post_time|date:"s" }}
			</span>
		</div>
		{% if post.poster == user %}
			<div class="d-flex flex-column justify-content-center align-items-center">
				<ul class="d-flex" style="list-style-type: none;">
					<li class="me-3">
						<a href="{% url 'update-post' user_id=user.id slug=post.slug %}">更新內容</a>
					</li>
					<li>
						<a href="{% url 'delete-post' user_id=user.id slug=post.slug %}">刪除此文</a>
					</li>
				</ul>
			</div>
		{% endif %}
	</div>
</div>
<div class="container border border-white rounded p-3" style="background-color: lightblue;">
	<div class="row align-items-center">
		<div class="col">
			{% if comments %}
			<h4>All Comment</h4>
				<ul class="" style="list-style-type: none;">
					{% for comment in comments %}
						<li class="border border-secondary rounded p-3" style="background-color: White;">
							{{ comment.user }}:{{ comment.comment_text }}
						</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>還沒有任何評論</p>
			{% endif %}
		</div>
		<div class="col">
			<h5>新增你的評論</h5>
			<form method="POST" enctype="multipart/form-data" id="comment-form">
				{% csrf_token %}
				<table>
			        <tr>
			            <td>{{ comment_form.comment_text }}</td>
			        </tr>
			    </table>
				
				<button type="submit">提交</button>
			</form>
		</div>
	</div>
</div>

<script>
    // 防止表單在刷新頁面時重新提交
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
</script>

{% endblock %}
